@import '../../Styles/mixins.scss';

nav{
    font-family: "Plus Jakarta Sans";
}

.title{
    @include font-mixin(600, 1.3rem);
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    @include font-mixin(600, 1rem);
    cursor: pointer;

    &:hover{

        img{
            filter: invert(100);
        }
    }
}